LoansItemMvc/Connected Services/ServiceReference1/Add2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyDome.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyDome.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="YCUserDetailsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="TempNum" type="xs:double" />
      <xs:element minOccurs="0" name="TempNum1" type="xs:int" />
      <xs:element minOccurs="0" name="Ud_AuditId" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ud_BillId" type="xs:int" />
      <xs:element minOccurs="0" name="Ud_Goal" type="xs:int" />
      <xs:element minOccurs="0" name="Ud_IDCardPic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ud_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Ud_IdentityID" type="xs:int" />
      <xs:element minOccurs="0" name="Ud_Money" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ud_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ud_NowDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Ud_Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ud_Remark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ud_Sex" type="xs:boolean" />
      <xs:element minOccurs="0" name="Ud_Time" type="xs:int" />
      <xs:element minOccurs="0" name="Ud_Type" type="xs:int" />
      <xs:element minOccurs="0" name="Ud_TypeId" type="xs:int" />
      <xs:element minOccurs="0" name="Ud_UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YCUserDetailsData" nillable="true" type="tns:YCUserDetailsData" />
</xs:schema>