LoansItemMvc/Connected Services/ServiceReference2/Get.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.152.16:8080/Get.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyDome.Model" />
  <xs:element name="DoWorkTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="t" nillable="true" type="q1:YCIdentityTableData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="DoWorkTableResult" nillable="true" type="q2:ArrayOfYCIdentityTableData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="yCloans" nillable="true" type="q3:YCloansGoalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkGoalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="DoWorkGoalResult" nillable="true" type="q4:ArrayOfYCloansGoalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="type" nillable="true" type="q5:YCLoanTypeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="DoWorkTypeResult" nillable="true" type="q6:ArrayOfYCLoanTypeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="adminInfoData" nillable="true" type="q7:YCAdminInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoAndMyBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ud_Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoAndMyBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="GetUserInfoAndMyBillResult" nillable="true" type="q8:UserDetailAndMyBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Moeney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="data" nillable="true" type="q9:YCUserDetailsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoeneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoeneyResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>