LoansItemMvc/Connected Services/ServiceReference2/Get.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Get" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.1.152.16:8080/Get.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.1.152.16:8080/Get.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.1.152.16:8080/Get.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyDome.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGet_DoWorkTable_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkTable" />
  </wsdl:message>
  <wsdl:message name="IGet_DoWorkTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkTableResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_DoWorkGoal_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkGoal" />
  </wsdl:message>
  <wsdl:message name="IGet_DoWorkGoal_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkGoalResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_DoWorkType_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkType" />
  </wsdl:message>
  <wsdl:message name="IGet_DoWorkType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_DoWorkAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkAdmin" />
  </wsdl:message>
  <wsdl:message name="IGet_DoWorkAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_GetUserInfoAndMyBill_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoAndMyBill" />
  </wsdl:message>
  <wsdl:message name="IGet_GetUserInfoAndMyBill_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoAndMyBillResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_Moeney_InputMessage">
    <wsdl:part name="parameters" element="tns:Moeney" />
  </wsdl:message>
  <wsdl:message name="IGet_Moeney_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoeneyResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_NO_Moeney_InputMessage">
    <wsdl:part name="parameters" element="tns:NO_Moeney" />
  </wsdl:message>
  <wsdl:message name="IGet_NO_Moeney_OutputMessage">
    <wsdl:part name="parameters" element="tns:NO_MoeneyResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_NO_Number_InputMessage">
    <wsdl:part name="parameters" element="tns:NO_Number" />
  </wsdl:message>
  <wsdl:message name="IGet_NO_Number_OutputMessage">
    <wsdl:part name="parameters" element="tns:NO_NumberResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_NO_Audit1_InputMessage">
    <wsdl:part name="parameters" element="tns:NO_Audit1" />
  </wsdl:message>
  <wsdl:message name="IGet_NO_Audit1_OutputMessage">
    <wsdl:part name="parameters" element="tns:NO_Audit1Response" />
  </wsdl:message>
  <wsdl:message name="IGet_LGZ_Detail_InputMessage">
    <wsdl:part name="parameters" element="tns:LGZ_Detail" />
  </wsdl:message>
  <wsdl:message name="IGet_LGZ_Detail_OutputMessage">
    <wsdl:part name="parameters" element="tns:LGZ_DetailResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_LGZ_Updte_InputMessage">
    <wsdl:part name="parameters" element="tns:LGZ_Updte" />
  </wsdl:message>
  <wsdl:message name="IGet_LGZ_Updte_OutputMessage">
    <wsdl:part name="parameters" element="tns:LGZ_UpdteResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_XSF_UserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:XSF_UserInfo" />
  </wsdl:message>
  <wsdl:message name="IGet_XSF_UserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:XSF_UserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_XSF_Moneney_InputMessage">
    <wsdl:part name="parameters" element="tns:XSF_Moneney" />
  </wsdl:message>
  <wsdl:message name="IGet_XSF_Moneney_OutputMessage">
    <wsdl:part name="parameters" element="tns:XSF_MoneneyResponse" />
  </wsdl:message>
  <wsdl:message name="IGet_XSF_ShenHe_InputMessage">
    <wsdl:part name="parameters" element="tns:XSF_ShenHe" />
  </wsdl:message>
  <wsdl:message name="IGet_XSF_ShenHe_OutputMessage">
    <wsdl:part name="parameters" element="tns:XSF_ShenHeResponse" />
  </wsdl:message>
  <wsdl:portType name="IGet">
    <wsdl:operation name="DoWorkTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/DoWorkTable" message="tns:IGet_DoWorkTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/DoWorkTableResponse" message="tns:IGet_DoWorkTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoWorkGoal">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/DoWorkGoal" message="tns:IGet_DoWorkGoal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/DoWorkGoalResponse" message="tns:IGet_DoWorkGoal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoWorkType">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/DoWorkType" message="tns:IGet_DoWorkType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/DoWorkTypeResponse" message="tns:IGet_DoWorkType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoWorkAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/DoWorkAdmin" message="tns:IGet_DoWorkAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/DoWorkAdminResponse" message="tns:IGet_DoWorkAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoAndMyBill">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/GetUserInfoAndMyBill" message="tns:IGet_GetUserInfoAndMyBill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/GetUserInfoAndMyBillResponse" message="tns:IGet_GetUserInfoAndMyBill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Moeney">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/Moeney" message="tns:IGet_Moeney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/MoeneyResponse" message="tns:IGet_Moeney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NO_Moeney">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/NO_Moeney" message="tns:IGet_NO_Moeney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/NO_MoeneyResponse" message="tns:IGet_NO_Moeney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NO_Number">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/NO_Number" message="tns:IGet_NO_Number_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/NO_NumberResponse" message="tns:IGet_NO_Number_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NO_Audit1">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/NO_Audit1" message="tns:IGet_NO_Audit1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/NO_Audit1Response" message="tns:IGet_NO_Audit1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LGZ_Detail">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/LGZ_Detail" message="tns:IGet_LGZ_Detail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/LGZ_DetailResponse" message="tns:IGet_LGZ_Detail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LGZ_Updte">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/LGZ_Updte" message="tns:IGet_LGZ_Updte_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/LGZ_UpdteResponse" message="tns:IGet_LGZ_Updte_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XSF_UserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/XSF_UserInfo" message="tns:IGet_XSF_UserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/XSF_UserInfoResponse" message="tns:IGet_XSF_UserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XSF_Moneney">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/XSF_Moneney" message="tns:IGet_XSF_Moneney_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/XSF_MoneneyResponse" message="tns:IGet_XSF_Moneney_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="XSF_ShenHe">
      <wsdl:input wsaw:Action="http://tempuri.org/IGet/XSF_ShenHe" message="tns:IGet_XSF_ShenHe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGet/XSF_ShenHeResponse" message="tns:IGet_XSF_ShenHe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGet" type="tns:IGet">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWorkTable">
      <soap:operation soapAction="http://tempuri.org/IGet/DoWorkTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWorkGoal">
      <soap:operation soapAction="http://tempuri.org/IGet/DoWorkGoal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWorkType">
      <soap:operation soapAction="http://tempuri.org/IGet/DoWorkType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWorkAdmin">
      <soap:operation soapAction="http://tempuri.org/IGet/DoWorkAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfoAndMyBill">
      <soap:operation soapAction="http://tempuri.org/IGet/GetUserInfoAndMyBill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Moeney">
      <soap:operation soapAction="http://tempuri.org/IGet/Moeney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NO_Moeney">
      <soap:operation soapAction="http://tempuri.org/IGet/NO_Moeney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NO_Number">
      <soap:operation soapAction="http://tempuri.org/IGet/NO_Number" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NO_Audit1">
      <soap:operation soapAction="http://tempuri.org/IGet/NO_Audit1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LGZ_Detail">
      <soap:operation soapAction="http://tempuri.org/IGet/LGZ_Detail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LGZ_Updte">
      <soap:operation soapAction="http://tempuri.org/IGet/LGZ_Updte" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XSF_UserInfo">
      <soap:operation soapAction="http://tempuri.org/IGet/XSF_UserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XSF_Moneney">
      <soap:operation soapAction="http://tempuri.org/IGet/XSF_Moneney" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XSF_ShenHe">
      <soap:operation soapAction="http://tempuri.org/IGet/XSF_ShenHe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Get">
    <wsdl:port name="BasicHttpBinding_IGet" binding="tns:BasicHttpBinding_IGet">
      <soap:address location="http://10.1.152.16:8080/Get.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>