LoansItemMvc/Connected Services/ServiceReference2/Get.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.1.152.16:8080/Get.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyDome.Model" />
  <xs:element name="DoWorkTable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="t" nillable="true" type="q1:YCIdentityTableData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkTableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="DoWorkTableResult" nillable="true" type="q2:ArrayOfYCIdentityTableData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkGoal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="yCloans" nillable="true" type="q3:YCloansGoalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkGoalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="DoWorkGoalResult" nillable="true" type="q4:ArrayOfYCloansGoalData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="type" nillable="true" type="q5:YCLoanTypeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="DoWorkTypeResult" nillable="true" type="q6:ArrayOfYCLoanTypeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="adminInfoData" nillable="true" type="q7:YCAdminInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoAndMyBill">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="us" nillable="true" type="q8:UserDetailAndMyBill" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserInfoAndMyBillResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserInfoAndMyBillResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Moeney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="data" nillable="true" type="q9:YCUserDetailsData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoeneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MoeneyResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NO_Moeney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="data" nillable="true" type="q10:YCMyBillData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NO_MoeneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NO_MoeneyResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NO_Number">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NO_NumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NO_NumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NO_Audit1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="data" nillable="true" type="q11:NO_Audit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NO_Audit1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="NO_Audit1Result" nillable="true" type="q12:ArrayOfNO_Audit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LGZ_Detail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Ud_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LGZ_DetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="LGZ_DetailResult" nillable="true" type="q13:ArrayOfDeteail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LGZ_Updte">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="U_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LGZ_UpdteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LGZ_UpdteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XSF_UserInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="data" nillable="true" type="q14:YCUserInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XSF_UserInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="XSF_UserInfoResult" nillable="true" type="q15:ArrayOfYCUserInfoData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XSF_Moneney">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="data" nillable="true" type="q16:NO_Audit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XSF_MoneneyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="XSF_MoneneyResult" nillable="true" type="q17:ArrayOfNO_Audit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XSF_ShenHe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="U_Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XSF_ShenHeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/MyDome.Model" minOccurs="0" name="XSF_ShenHeResult" nillable="true" type="q18:ArrayOfDeteail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>