LoansItemMvc/Connected Services/ServiceClient/AddOne1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyDome.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyDome.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="YCUserInfoData">
    <xs:sequence>
      <xs:element minOccurs="0" name="U_Id" type="xs:int" />
      <xs:element minOccurs="0" name="U_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="U_Phone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YCUserInfoData" nillable="true" type="tns:YCUserInfoData" />
</xs:schema>